/* .Profile .profileBox {
    border: 2px solid white;
    color: white;
} */

/* *************** */

.Profile{
    background-color: #262629;
    margin-top: 6.25rem;
    min-height: calc(100vh - 6.25rem);
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    padding: 1.75rem;
}

.profileImageContainer img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.profileBtnContainer{
    display: flex;
    justify-content: flex-end;
    max-width: 50rem;
    margin: 0 auto 0 auto;
}

.prBtn{
    background: none;
    border: none;
}

.prBtn img{
    height: 2.5rem;
    width: 2.5rem;
    object-fit: contain;
}

.profileImageContainer{
    display: flex;
    justify-content: center;
}

.nameNBio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.625rem;

}

.profileUserName{
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
}

.profileBio{
    font-size: 0.75rem;
    color: #939394;
}

.profilePosts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: auto;
    margin-top: 1.7rem;
    max-width: 50rem;
}

.profilePosts img{
    border-radius: 1.25rem;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}

.profileNavigatorContainer{
    display: flex;
    justify-content: space-between;
    max-width: 50rem;
    margin: auto;
}

.countNLabelContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.125rem;
    margin-top: 1.25rem;
    cursor: pointer;
}

.prBtn{
    padding: 0.75rem 1.5rem;
    background-color: #0466C8;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
}
.editBtn{
    border-radius: 2rem;
    cursor: pointer;
    background: none;
    border: none;
}
.unfollowBtn{
    color: #0466C8;
    background-color: white;
}

.prlabel{
    padding: 0 1rem;
    border-radius: 1rem;
}

.followContainer{
    max-width: 50rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}