.headerContainer{
    display: flex;
    justify-content: flex-end;
    background-color: #262629;
    height: 3.8rem;
    align-items: center;
    position: sticky;
    border-radius: 20px;
    margin: 0.8125rem;
    margin-bottom: 0;
    padding: 0 1.75rem;
    top: 15px;
}

.headerContainer .logoImg{
    margin: auto;
    width: 6.75rem
}

.headerContainer button{
    display: flex;
    align-items: center;
}