.headerContainer {
    display: flex;
    justify-content: space-around;
    background-color: #262629;
    height: 3.8rem;
    width: 90%;
    align-items: center;
    position: fixed;
    border-radius: 20px;
    background-color: #1A1A1D;
    border: 2px solid #4E4E50;
    margin-bottom: 0;
    top: 1dvh;
    z-index: 20;
}

.headerContainer .logoImg {
    margin: auto;
    width: 10rem;
    padding-left: 3.5rem;
}

.headerContainer button {
    display: flex;
    align-items: center;
}

.headerContainer button.postBtns {
    margin-right: 2rem;
}

.headerContainer img.logoo {
    margin-left: 20px;
    margin-top: 7px;
}