.Navbar {
    width: 100%;
    position: fixed;
    /* top: 90vh; */
    bottom: 1dvh;
    z-index: 20;
}

.Navbar .subNavbar {
    height: 3.8rem;
    margin-left: 5%;
    width: 90%;
    background-color: #1A1A1D;
    border: 2px solid #4E4E50;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar .subNavbar .sub2Navbar {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar img.navIcons {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.Navbar img.profileIcon {
    border-radius: 100%;
}