.Post {
    /* border: 2px solid black; */
    margin: 1rem auto ;
    width: 328px;
    border-radius: 20px;
    height: 32rem;
    background-color: #262629;
    color: white;
}

.Post .header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.7rem 0 0 0.7rem;
}

.Post .profileImage{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.Post .username{
    font-size: 0.875rem;
    font-weight: 600;
}

.Post .uNameContainer{
    margin-left: 1rem;
}
.Post .uNameContainer .timestamp{
    font-size: 0.5rem;
    color: #939394;
}

.Post .postImage{
    height: 19rem;
    width: 19rem;
    margin: 0.75rem 0.75rem;
    border-radius: 1.25rem;
}

.postBtns{
    background: none;
    border: none;
    padding: 0;
    width: 19.54px;
    height: 18px;
}

.postContainers{
    display: flex;
    justify-content: space-between;
    max-width: 17.875rem;
    align-items: center;
    margin: 0 auto;
}

.likeCommentBtnContainer{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.likeCmtCountContainer{
    margin-top: 0.5rem;
    justify-content: flex-start;
    gap: 0.25rem;
}

.count{
    font-size: 12px;
    font-weight: 500;
}

.countlabel{
    color: #939394;
}

.nameNCaption{
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 0.75rem;
}
.textContent{
    font-size: 10px;
    color: #939394;
}