body,
html,
#root {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Media query for phones */
@media (min-width: 320px) {

  /* Adjust font size and other styles for phones */
  body {
    font-size: 17px;
  }
}

/* Media query for tablets */
@media (min-width: 768px) {

  /* Adjust font size and other styles for tablets */
  body {
    font-size: 18px;
  }
}

/* Media query for laptops and desktops */
@media (min-width: 1200px) {

  /* Adjust font size and other styles for laptops/desktops */
  body {
    font-size: 19px;
  }
}