.Homepage{
    height: 100dvh;
}

.Homepage .header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Homepage .posts{
    margin-top: 6rem;
    width: 100%;
}