.ProfileCard {
    width: 100%;
    /* border: 2px solid #262629; */
}

.SubProfileCard {
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 7.5%;
    width: 85%;
    height: 5rem;
    background-color: #262629;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.ProfileCard img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 1rem;
    object-fit: cover;
}

.ProfileCard .userDetails {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.75rem;
}

.ProfileCard p.username {
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
}

.ProfileCard p.address {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
}